body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZXYZ5jgPICvdS2vlXtXED-AUqr6reQxPgoA&s');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
div.navbar {
    background-color: beige;
    padding: 2%;
    margin: 10;
}
div a {
    display: inline-block;
    margin-right: 3%;
    font-family: cursive;
    font-size: larger;
    color: brown;
    text-decoration: none;
}
div#Home img {
    width: 100%;
    height: 600px;
    aspect-ratio: unset;
}
